PORT=8080
POKEAPI_BASE_URL=https://pokemon-api-92034153384.us-central1.run.app
MONGODB_URI=mongodb://localhost:27018/pokepvp
# MONGODB_URI=mongodb+srv://username:<db_password>@pokepvp.cl14a1a.mongodb.net/?appName=pokepvp
MONGO_HOST_PORT=27018

# Allowed origin for CORS (e.g. frontend URL). Default in code: http://localhost:3000
# CORS_ORIGIN=http://localhost:3000
